#root{
    background-color: rgb(249, 249, 250);
}
.container{


}

.table-container{
    border-top-left-radius: 10px;
    margin-top: 15px;
}

.ArticleContainer{
    margin-top: 50px;
    max-height: 350px;
}

.home-article{
    margin-top: 70px;
    height: 350px;
}

.thead-color{
    background-color: cornflowerblue;
    border-radius: 15px;
}